_backup_old_site_20260418/
.gstack/
.DS_Store

# Legacy site and unused template assets kept locally only.
bk/
font/
product/
css/addons/
css/bootstrap.css
css/bootstrap.min.css
css/compiled.min.css
css/mdb.css
css/mdb.min.css
js/addons/
js/bootstrap.js
js/bootstrap.min.js
js/jquery-3.3.1.min.js
js/mdb.js
js/mdb.min.js
js/popper.min.js
img/cp*.jpg
img/hp*.jpg
img/info.jpg
img/sp*.jpg
img/lightbox/
img/overlays/
img/svg/
